<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-5.6.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Expressions are related to words like "hasRole()", hasAnyRole()", "and" , "or" and etc.  -->
    <security:http use-expressions="true" >
        <security:intercept-url pattern="/restricted" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" />
        <!-- <security:intercept-url pattern="/restricted" access="hasRole('ROLE_ADMIN')"/> -->
        <security:form-login login-page="/login.html"
                             login-processing-url="/perform-login"
                             username-parameter="usr"
                             password-parameter="pwd"
                             default-target-url="/restricted"
        />
        <security:logout logout-url="/logout" logout-success-url="/login.html"/>

        <!-- не добавлять токен безопасности на форму логина -->
        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <!-- {noop} - остсутствие кодирования пароля-->
                <security:user name="admin" password="{noop}password" authorities="ROLE_ADMIN, ROLE_USER"/>
                <security:user name="user" password="{noop}password" authorities="ROLE_USER"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- 	if use-expressions="false", and you use spring-security taglib, then uncomment it  -->
    <!-- 	<bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> -->

    <!-- 	You have to include the following element on your dispatcher's xml NOT on your application's xml -->
    <!-- 	<security:global-method-security jsr250-annotations="enabled" pre-post-annotations="enabled" /> -->

</beans>
