<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="my.spring.di.Cat" id="murka"/>
    <bean class="my.spring.di.Dog" id="bobik"/>
<!--    <bean class="my.spring.di.Feeding">-->
<!--        <property name="animal" ref="murka" />-->
<!--    </bean>-->
    <bean class="my.spring.di.Walking">
        <constructor-arg name="animal" ref="murka" />
    </bean>


</beans>

